body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: "#dfdfdf";
}
a {
  text-decoration: none;
}
a:link {
  background-color: inherit;
}

a:visited {
  background-color: inherit;
}

a:hover {
  background-color: inherit;
}

a:active {
  background-color: inherit;
} 